 
# These requirements are for the Python that is run in the
# neuro_san/service container.
#
# Requirements for tests, code style and other build stuff reside in
# requirements-build.txt

# Do the source-available stuff first to fast-fail if credentials are not right
# DEF 07/26/2022: Due to bug in codefresh private repo plugin, this leaf-common
# comes in from top-level requirements.txt file for now.
# Public repos
git+https://${LEAF_SOURCE_CREDENTIALS}@github.com/leaf-ai/leaf-common.git@1.2.10

# Private repos
git+https://${LEAF_PRIVATE_SOURCE_CREDENTIALS}@github.com/leaf-ai/leaf-server-common.git@0.1.9
