
# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
    "llm_config": {
        "model_name": "gpt-4o",
    },
    "tools": [
        {
            "name": "location_extractor",
            "instructions": "You are to extract location from the query and pass it along.",
            "tools": [weather_searcher]
        },
        # These tool definitions do not have to be in any particular order
        # How they are linked and call each other is defined within their
        # own specs.  This could be a graph, potentially even with cycles.

        # This first guy is the "Front Man".  He is identified as such because
        # he is the only one with no parameters in his function definition,
        # and therefore he needs to talk to the outside world to get things rolling.
        {
            "name": "weather_searcher",

            # Note that there are no parameters defined for this guy's "function" key.
            # This is the primary way to identify this tool as a front-man,
            # distinguishing it from the rest of the tools.

            "function": {
                "description": "Assist caller with searching info for a given location.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "location": {
                            "type": "string",
                            "description": """A location extracted from user query."""
                        },
                    },
                    "required": ["location"]
                },
                # This is to break out of frontman agent executor loop.
                "return_direct": true
            },

            "instructions": "Use your tool to find weather at the given location.",
            "tools": ["website_search"]
        },
        {
            "name": "website_search",
            "function": {
                "description": """
Assist caller with searching an url on the web by using your tool.
```
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "url": {
                            "type": "string",
                            "description": "The url to search in."
                        },
                        "search_terms": {
                            "type": "string",
                            "description": "Search terms to return options."
                        },
                    },
                    "required": ["url", "search_terms"]
                },
                # This is to break out of the branch node executor loop.
                "return_direct": true
            },
            "class": "web_search.WebSearch",
        },
    ]
}
